target/
node_modules/
dist/
site-dist/
.DS_Store
Thumbs.db
*.pdb
*.log
.env
.env.local
website/*.7z
website/*.rar
website/*.tar
website/*.tar.gz
website/*.tgz
website/*.zip
project-instructions.md
src-tauri/WixTools/
src-tauri/gen/
*.orig
